body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background: url('../city.jpg') no-repeat;
  background-size: cover;
}

h1{
  margin: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  border-color: transparent !important;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  background: rgba(34, 34, 34, 0.5);
}